.container {
    background-color: var(--primary-color);
    width: 40%;
    height: 100vh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start; /* Ajustando para a palavra 'first baseline' ser inválida */
  
    .profileImg {
      border-radius: 50%;
      width: 100%;
      border: 2px solid white;
    }
  
    .nome {
      white-space: nowrap;
    }
  
    hr {
      width: calc(100% + 3rem);
      border: 0; /* Remove a borda padrão */
      border-top: 2px solid #ccc; /* Cor e espessura da linha */
      margin: 1rem 0; /* Espaçamento em cima e embaixo */
    }
  
    .navContainer {
      width: 100%;
  
      .menuNavigation {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        font-weight: bold;
      }
    }
  }
  